/*
 * FCKeditor - The text editor for Internet - http://www.fckeditor.net
 * Copyright (C) 2003-2007 Frederico Caldeira Knabben
 * 
 * == BEGIN LICENSE ==
 * 
 * Licensed under the terms of any of the following licenses at your
 * choice:
 * 
 *  - GNU General Public License Version 2 or later (the "GPL")
 *    http://www.gnu.org/licenses/gpl.html
 * 
 *  - GNU Lesser General Public License Version 2.1 or later (the "LGPL")
 *    http://www.gnu.org/licenses/lgpl.html
 * 
 *  - Mozilla Public License Version 1.1 or later (the "MPL")
 *    http://www.mozilla.org/MPL/MPL-1.1.html
 * 
 * == END LICENSE ==
 * 
 * Styles used by the dialog boxes.
 * 
 * 		Paul Moers (http://fckskins.saulmade.nl/)
 */
html,body {
	background-color: transparent;
	margin: 0px;
	padding: 0px;
}

body {
	padding: 10px;
}

body,td,input,select,textarea {
	font-size: 11px;
	font-family: 'Microsoft Sans Serif', Arial, Helvetica, Verdana;
}

.PopupBody {
	height: 100%;
	width: 100%;
	overflow: hidden;
	background-color: transparent;
	padding: 0px;
}

#header {
	cursor: move;
}

.PopupTitle {
	font-weight: bold;
	font-size: 14pt;
	color: #504845;
	background-image: url(images/background.dark.gif);
	padding: 3px 10px 3px 10px;
}

.PopupButtons {
	position: absolute;
	right: 0px;
	left: 0px;
	bottom: 0px;
	border-top: #b8b8b8 1px solid;
	background-image: url(images/background.dark.gif);
	padding: 7px 10px 7px 10px;
}

.Button {
	background-image: url(images/background.light.gif);
	border-right: 1px solid #9d9d9d;
	border-bottom: 1px solid #9d9d9d;
	border-top: 1px solid #ebebeb;
	border-left: 1px solid #ebebeb;
	padding: 1px;
	color: #000000;
}

#btnOk {
	width: 100px;
}

.DarkBackground {
	background-color: #e9e9e9;
}

.LightBackground {
	background-color: #bcbcbc;
}

.PopupTitleBorder {
	border-bottom: #e9e9e9 1px solid;
}

.PopupTabArea {
	color: #0a246a;
	background: #dfdfdf url(images/background.light.gif) repeat scroll left
		top;
}

.PopupTabEmptyArea {
	background: #f5f4f2 url(images/background.dark.gif) repeat scroll left
		top;
	background-color: #c5c5c5;
	padding-left: 10px;
	border-bottom: #b8b8b8 1px solid;
}

.PopupTabSelected {
	border-top: #b8b8b8 1px solid;
	border-right: #b8b8b8 1px solid;
	border-bottom: #dfdfdf 1px solid;
	border-left: #b8b8b8 1px solid;
	padding: 4px 5px 3px 5px;
	color: #363636;
	font-weight: bold;
	cursor: default;
}

.PopupTab {
	border: 1px solid #B8B8B8;
	color: #6e6e6e;
	padding: 4px 6px 3px 6px;
	cursor: pointer;
	cursor: hand;
}

.PopupSelectionBox {
	background-color: #cbcbcb;
	border: #3a3a3a 1px solid;
	cursor: pointer;
	cursor: hand;
}

#tdBrowse {
	vertical-align: bottom;
}

/**
 * Dialog frame related styles.
 */
.contents {
	position: absolute;
	top: 2px;
	left: 16px;
	right: 16px;
	bottom: 20px;
	background-color: #f7f7f7;
	overflow: hidden;
	z-index: 1;
	background-image: url(images/background.light.gif);
}

.tl,.tr,.tc,.bl,.br,.bc {
	position: absolute;
	background-image: url(images/sprites.png);
	background-repeat: no-repeat;
}

* html .tl,* html .tr,* html .tc,* html .bl,* html .br,* html .bc {
	background-image: url(images/sprites.gif);
}

.ml,.mr {
	position: absolute;
	background-image: url(images/dialog.sides.png);
	background-repeat: repeat-y;
}

* html .ml,* html .mr {
	background-image: url(images/dialog.sides.gif);
}

.rtl .ml,.rtl .mr {
	position: absolute;
	background-image: url(images/dialog.sides.rtl.png);
	background-repeat: repeat-y;
}

* html .rtl .ml,* html .rtl .mr {
	background-image: url(images/dialog.sides.gif);
}

.tl {
	top: 0px;
	left: 0px;
	width: 16px;
	height: 16px;
	background-position: -16px -16px;
}

.rtl .tl {
	background-position: -16px -397px;
}

.tr {
	top: 0px;
	right: 0px;
	width: 16px;
	height: 16px;
	background-position: -16px -76px;
}

.rtl .tr {
	background-position: -16px -457px;
}

.tc {
	top: 0px;
	right: 16px;
	left: 16px;
	height: 16px;
	background-position: 0px -136px;
	background-repeat: repeat-x;
}

.ml {
	top: 16px;
	left: 0px;
	width: 16px;
	bottom: 51px;
	background-position: 0px 0px;
}

.mr {
	top: 16px;
	right: 0px;
	width: 16px;
	bottom: 51px;
	background-position: -16px 0px;
}

.bl {
	bottom: 0px;
	left: 0px;
	width: 30px;
	height: 51px;
	background-position: -16px -196px;
}

.rtl .bl {
	background-position: -16px -517px;
}

.br {
	bottom: 0px;
	right: 0px;
	width: 30px;
	height: 51px;
	background-position: -16px -263px;
}

.rtl .br {
	background-position: -16px -584px;
}

.bc {
	bottom: 0px;
	right: 30px;
	left: 30px;
	height: 51px;
	background-position: 0px -330px;
	background-repeat: repeat-x;
}

/* For IE6. Do not change it. */
* html .blocker {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 12;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0 );
}

/* The layer used to cover the dialog when opening a child dialog. */
.cover {
	position: absolute;
	top: 0px;
	left: 14px;
	right: 14px;
	bottom: 18px;
	z-index: 11;
}

#closeButton {
	position: absolute;
	right: 0px;
	top: 0px;
	margin-top: 5px;
	margin-right: 10px;
	width: 20px;
	height: 20px;
	cursor: pointer;
	background-image: url(images/sprites.png);
	background-repeat: no-repeat;
	background-position: -16px -651px;
}

* html #closeButton {
	cursor: hand;
	background-image: url(images/sprites.gif);
}

.rtl #closeButton {
	right: auto;
	left: 10px;
	margin-right: 0px;
}

#closeButton:hover {
	background-position: -16px -687px;
}

#throbberBlock {
	z-index: 10;
}

#throbberBlock div {
	float: left;
	width: 8px;
	height: 9px;
	margin-left: 2px;
	margin-right: 2px;
	font-size: 1px; /* IE6 */
}

/*
	Color Gradient Generator:
	http://www.herethere.net/~samson/php/color_gradient/?cbegin=504845&cend=DEDEDE&steps=4
*/
.throbber_1 {
	background-color: #504845;
}

.throbber_2 {
	background-color: #736D6B;
}

.throbber_3 {
	background-color: #979391;
}

.throbber_4 {
	background-color: #BAB8B7;
}

.throbber_5 {
	background-color: #DEDEDE;
}