<div class="grid_9 alpha">
<ul class="tt-toggle faq">
    <li class="sub-toggle">
    <div class="toggle-head">
    <div class="toggle-head-sign">&#160;</div>
    <p>Pay Way là gì?</p>
    </div>
    <div class="toggle-content" style="display: none;">Pay Way là nhà cung cấp dịch vụ nhận tiền kiều hối chuyên nghiệp, đã hợp tác với nhiều tập đoàn chuyển tiền toàn cầu từ trên 150 quốc gia và vùng lãnh thổ. Chúng tôi cung cấp chuyển tiền nhanh, an toàn và đa dạng đảm bảo cho khách hàng của mình sự chọn lựa hoàn hảo nhất.</div>
    </li>
    <li class="sub-toggle">
    <div class="toggle-head">
    <div class="toggle-head-sign">&#160;</div>
    <p>Làm thế nào để tìm được địa điểm chuyển tiền của Pay Way?</p>
    </div>
    <div class="toggle-content" style="display: none;">Quý khách có thể truy cập website Payway.vn để tra cứu địa điểm chuyển tiền từ các nước. Các địa điểm nhận tiền trong nước như sau: <br />
    Danh sách đại lý: <a href="#">(xem)</a></div>
    </li>
    <li class="sub-toggle">
    <div class="toggle-head">
    <div class="toggle-head-sign">&#160;</div>
    <p>Đối tượng sử dụng dịch vụ của Pay Way?</p>
    </div>
    <div class="toggle-content" style="display: none;">Quý vị, hoặc bất kỳ ai cần một phương thức gửi tiền tin cậy, thuận tiện và nhanh chóng đều có thể là khách hàng của chúng tôi. <br />
    <strong>Ví dụ: </strong><br />
    &#160;&#160;&#160;&#160;+ Những người cần gửi tiền giúp người thân hay bạn bè. <br />
    &#160;&#160;&#160;&#160;+ Du khách cần tiền trong những trường hợp khẩn cấp. <br />
    &#160;&#160;&#160;&#160;+ Các doanh nhân, Du học sinh, Hợp tác lao động quốc tế, Kiều bào, <br />
    &#160;&#160;&#160;&#160;+ Bất cứ đối tượng hợp pháp gửi tiền làm quà tặng, tiền lương, thưởng, mua bán nhỏ lẻ, vv.</div>
    </li>
    <li class="sub-toggle">
    <div class="toggle-head">
    <div class="toggle-head-sign">&#160;</div>
    <p>Vì sao chọn Pay Way?</p>
    </div>
    <div class="toggle-content" style="display: none;">+ Uy tín – Đối tác của Pay Way là Tập đoàn bưu điện Việt Nam, Công ty Chuyển mạch tài chính quốc gia Việt Nam và các tập đoàn chuyển tiền uy tín toàn cầu.<br />
    + Đa dạng – Quý khách có thể chọn lựa nhiều kênh như nhận tiền mặt tại bưu điện, người than chuyển tiền vào tài khoản hay thẻ ATM của Quý khách, và dịch vụ giao tiền tận nhà trên toàn quốc.<br />
    + Nhanh chóng – Tiền được chuyển vào tài khỏan trong giây lác, khi người thân vừa gửi là Quý khách sẽ có tiền ngay; nhận tiền tại quầy chỉ trong 5 phút và thời gian giao tiền tại nhà từ 3-48 giờ tùy theo từng khu vực.<br />
    + Thuận tiện – Với mạng lưới trên 100,000 điểm giao dịch trên toàn thế giới thông qua đối tác của Pay Way 					Dễ dàng – Trung tâm dịch vụ khách hàng 24/7 của chúng tôi sẽ luôn hổ trợ Quý vị</div>
    </li>
    <li class="sub-toggle">
    <div class="toggle-head">
    <div class="toggle-head-sign">&#160;</div>
    <p>Tôi chuyển tiền bằng cách nào</p>
    </div>
    <div class="toggle-content" style="display: none;"><a href="#">Bạn có thể xem hướng dẫn tại đây </a></div>
    </li>
    <li class="sub-toggle">
    <div class="toggle-head">
    <div class="toggle-head-sign">&#160;</div>
    <p>Để chuyển tiền về Việt Nam tôi cần mang theo những gì?</p>
    </div>
    <div class="toggle-content" style="display: none;">Mang theo giấy tờ tùy thân hợp lệ do nhà nước sở tại cấp có ảnh của quý vị và tiền mặt để thanh toán món tiền chuyển và lệ phí. <br />
    Ở Việt Nam, chúng tôi chưa cung cấp dịch vụ chuyển tiền ra nước ngoài. Quý vị vui lòng liên hệ với các ngân hàng có dịch vụ chuyển tiền quốc tế và có thể được yêu cầu phải làm những thủ tục cần thiết theo quy định của nhà nước.</div>
    </li>
    <li class="sub-toggle">
    <div class="toggle-head">
    <div class="toggle-head-sign">&#160;</div>
    <p>Tôi có thể chuyển bao nhiêu tiền về Việt Nam?</p>
    </div>
    <div class="toggle-content" style="display: none;">Ở Việt Nam chúng tôi không có giới hạn về số tiền chuyển về, miễn số tiền chuyển là hợp pháp. Nhằm giảm rủi ro cho khách hàng của mình, việc chuyển tiền vào tài khoản và thẻ được giới hạn khoảng 300 triệu đồng cho 1 lần gửi. (Giới hạn này sẽ được tang hoặc giảm theo từng thời điểm cụ thể).<br />
    Tại một số quốc gia, nhằm chống việc rửa tiền và quản lý dòng tiền chuyển ra nước ngoài, mỗi nước có hạn mức số tiền gửi và số lần gửi trong ngày khác nhau. Quý vị có thể tham khảo các công chuyển tiền tại nước sở tại hoặc lien lạc đến chúng tôi để chúng tôi tìm kiếm thông tin hổ trợ.</div>
    </li>
    <li class="sub-toggle">
    <div class="toggle-head">
    <div class="toggle-head-sign">&#160;</div>
    <p>Thời gian chuyển tiền là bao lâu?</p>
    </div>
    <div class="toggle-content" style="display: none;">Hiện tại chúng tôi có các hình thức chuyển và nhận tiền khác nhau, tùy thuộc vào phương thức chuyển tiền sẽ tác động đến thời gian nhận tiền.<br />
    Chuyển tiền vào tài khoản, vào thẻ: chỉ trong giây lác. Có nhiều đối tác hợp tác với Pay Way là thời gian thật. Tức là người gửi vừa chuyển là người nhận nhận được ngay.<br />
    Chuyển và nhận tại quầy: chỉ trong 5-15 phút <br />
    Nhận tiền tại nhà: từ 3-48 giờ (tùy thuộc vào thời điểm và vùng địa lý)</div>
    </li>
    <li class="sub-toggle">
    <div class="toggle-head">
    <div class="toggle-head-sign">&#160;</div>
    <p>Làm thế nào tôi biết tiền đã chuyển cho người nhận?</p>
    </div>
    <div class="toggle-content" style="display: none;">Sau khi Quý khách chuyển tiền đối tác của chúng tôi sẽ cung cấp mã số chuyển tiền. Quý khách chỉ cần cung cấp cho người nhận mã số này và đến địa chỉ giao dịch của Payway để nhận tiền. <br />
    Tùy thuộc vào việc trao đổi thông tin giữa đối tác của Pay Way và khách hàng của mình tại nước sở tại có thể là qua SMS, Web, vv. Riêng Pay Way cung cấp trang thái giao dịch cho đối tác là thời gian thực (real time) hoặc cập nhật thông tin cuối  ngày tùy theo phương thức chuyển tiền trên.</div>
    </li>
    <li class="sub-toggle">
    <div class="toggle-head">
    <div class="toggle-head-sign">&#160;</div>
    <p>Tôi có thể chuyển tiền bằng Mobile? Nó có an toàn?</p>
    </div>
    <div class="toggle-content" style="display: none;">Bạn có thể chuyển tiền bằng mobile, đảm bảo an toàn. Tuy nhiên dịch vụ chỉ áp dụng tại một số quốc gia và một số nơi trên toàn quốc. Vui lòng truy cập Payway.vn để biết thêm chi tiết và được hướng dẫn cụ thể.</div>
    </li>
    <li class="sub-toggle">
    <div class="toggle-head">
    <div class="toggle-head-sign">&#160;</div>
    <p>Để nhận tiền tôi phải mang theo những gì?</p>
    </div>
    <div class="toggle-content" style="display: none;">Đối với hình thức nhận tiền tại quầy và tại nhà, Quý khách cung cấp mã số chuyển tiền, thông tin người nhận, số tiền chuyển, nước gửi. Giấy CMND hay hộ chiếu hợp lệ của người nhận.</div>
    </li>
    <li class="sub-toggle">
    <div class="toggle-head">
    <div class="toggle-head-sign">&#160;</div>
    <p>Làm thế nào tôi có thể biết tiền của tôi đã có sẵn để nhận?</p>
    </div>
    <div class="toggle-content" style="display: none;">Đối với hình thức nhận tại quầy, nếu quý khách đã có mã số chuyển tiền, quý khách chỉ cần đến quầy giao dịch của Pay Way, mang theo giấy tờ cần thiết là quý khách có thể nhận tiền</div>
    </li>
    <li class="sub-toggle">
    <div class="toggle-head">
    <div class="toggle-head-sign">&#160;</div>
    <p>Khi nhận tiền tại quầy, mất bao lâu tôi có thể nhận tiền?</p>
    </div>
    <div class="toggle-content" style="display: none;">Nếu giấy tờ của quý khách hợp lệ, quý khách sẽ nhận tiền nhanh 15 phút.</div>
    </li>
    <li class="sub-toggle">
    <div class="toggle-head">
    <div class="toggle-head-sign">&#160;</div>
    <p>Pay Way sẽ thanh toán tiền chuyển bằng loại tiền gì?</p>
    </div>
    <div class="toggle-content" style="display: none;">Vào tài khoản, thẻ: Pay way chỉ thanh toán tiền chuyển tại việt nam bằng VNĐ.<br />
    Nhận tiền tại quầy, tại nhà: tùy theo từng khu vực, điểm giao dịch chúng tôi có thể chi trả cho Quý khách bằng VNĐ hoặc ngoại tệ. Vui lòng truy cập Payway.vn để biết thêm chi tiết.</div>
    </li>
    <li class="sub-toggle">
    <div class="toggle-head">
    <div class="toggle-head-sign">&#160;</div>
    <p>Làm thế nào để tìm được địa điểm nhận tiền của Pay Way?</p>
    </div>
    <div class="toggle-content" style="display: none;">Vui lòng truy cập <a href="#">www.Payway.vn</a></div>
    </li>
    <li class="sub-toggle">
    <div class="toggle-head">
    <div class="toggle-head-sign">&#160;</div>
    <p>Nếu ai đó gửi thư điện tử hoặc gọi điện báo là nhân viên Pay Way cần thông tin của tôi, tôi phải làm gì?</p>
    </div>
    <div class="toggle-content" style="display: none;">Pay Way sẽ KHÔNG có dịch vụ gọi điện thoại yêu cầu cung cấp thông tin. Việc gửi thư điện tử, Quý khách vui lòng liên hệ trực tiếp với chúng tôi để xác nhận thông tin để đảm bảo an toàn cho quý khách.</div>
    </li>
    <li class="sub-toggle">
    <div class="toggle-head">
    <div class="toggle-head-sign">&#160;</div>
    <p>Pay Way có cung cấp dịch vụ bảo lãnh hay biện pháp nào bảo vệ người mua hàng thanh toán qua Pay Way?</p>
    </div>
    <div class="toggle-content" style="display: none;">Không. Việc của chúng tôi là chuyển tiền từ người gửi đến người nhận. Khi sử dụng dịch vụ của chúng tôi, chúng tôi cảnh báo quý vị không nên gửi tiền cho người lạ. Trách nhiệm của người gửi là phải biết tiền được gửi đến cho ai. Sử dụng tên giả (hoặc tên của quý vị) hoặc thay đổi tên người nhận sau khi chuyển tiền không phải là biện pháp bảo đảm tính bảo mật cho món tiền chuyển. Nếu ai đó đến nhận tiền xuất trình đúng giấy tờ nhận diện, anh ta sẽ nhận được tiền.<br />
    Cảnh giác trước các dịch vụ “Thu tiền” hay “Trì hoãn thanh toán” trừ phi đó là những dịch vụ bảo lãnh có phép và có tiếng tăm. Chúng tôi KHÔNG cung cấp dịch vụ bảo lãnh, nên quý vị không nên coi chúng tôi là người bảo lãnh và hiện tại không tham gia vào bất kỳ dịch vụ bảo lãnh nào.</div>
    </li>
    <li class="sub-toggle">
    <div class="toggle-head">
    <div class="toggle-head-sign">&#160;</div>
    <p>Tôi cần làm gì khi nghi ngờ hoặc biết mình là nạn nhân của lừa đảo?</p>
    </div>
    <div class="toggle-content" style="display: none;">Liên hệ Văn phòng Bảo vệ Quyền lợi Người tiêu dùng của nhà nước và cảnh sát nếu quý vị cảm thấy không chắc hoặc nghi ngờ bị gạ gẫm bằng thư điện tử, thư hoặc điện thoại. Nếu thấy mình là nạn nhân của lừa đảo, gọi ngay cho cảnh sát địa phương.</div>
    </li>
    <li class="sub-toggle">
    <div class="toggle-head">
    <div class="toggle-head-sign">&#160;</div>
    <p>Tôi phải trả phí dịch vụ là bao nhiêu khi chuyển hoặc nhận tiền?</p>
    </div>
    <div class="toggle-content" style="display: none;">Đối với người gửi: Tùy vào số tiền gửi, nước gửi. Vui lòng truy cập Payway.vn để biết thêm chi tiết và được hướng dẫn cụ thể. (biểu phí mang tính tham khảo, vì mỗi đối tác của Pay Way luôn có chương trình hấp dẫn cho quý khách hàng của mình theo từng thời gian cụ thể.<br />
    Đối với người nhận: Chúng tôi không thu bất kỳ phí nào từ người nhận. Ngoài các trường hợp có yêu cầu đặc biệt.</div>
    </li>
    <li class="sub-toggle">
    <div class="toggle-head">
    <div class="toggle-head-sign">&#160;</div>
    <p>Thu chi hộ là gì? Làm cách nào có thể nhờ thu chi hộ qua Pay Way?</p>
    </div>
    <div class="toggle-content" style="display: none;">Hàng tháng  cá nhân/ doanh nghiệp phải bỏ ra một khoản thời gian để đi thanh toán tiền bảo hiểm, dịch vụ xã hội, học phí, tiền mua bán hàng hóa, tiền điện, nước, cáp, lương cán bộ CNV, các khoản thu chi khác…vừa mất thời gian và chi phí. Dịch vụ thu hộ chi hộ ra đời đang được xem là giải pháp tiện lợi nhất cho mọi cá nhân và doanh nghiệp khi cần thu chi các khoản phát sinh thường xuyên hoặc định kỳ.<br />
    Pay Way hỗ trợ dịch vụ thu chi hộ cho tất cả các hóa đơn tiền điện, tiền nước, tiền cáp, tiền điện thoại,… cho khách hàng và được thực hiện tại các điểm giao dịch của Pay Way, trong đó Pay Way đóng vai trò hổ trợ khách hàng. Chẳng hạn để thanh toán tiền điện, khách hàng chỉ cần cung cấp cho Pay Way một trong các thông tin sau: Mã số Khách hàng do EVN HCMC cấp; Giấy báo tiền điện; Hóa đơn tiền điện của một trong các tháng trước đó; Phiếu ghi số điện kế hoặc họ tên và địa chỉ của chủ hộ sử dụng điện.</div>
    </li>
    <li class="sub-toggle">
    <div class="toggle-head">
    <div class="toggle-head-sign">&#160;</div>
    <p>Tôi cần nhớ thêm những thông tin gì ?</p>
    </div>
    <div class="toggle-content" style="display: none;">•	Hãy luôn nhớ rằng quý vị biết rõ người mà quý vị chuyển tiền. Nếu quý vị mua hàng hóa hay dịch vụ qua Pay Way, quý vị có trách nhiệm phải thẩm tra tính hợp pháp của người bán. Chúng tôi không chịu trách nhịêm về chất lượng hay về việc quý vị không nhận được hàng hóa hay dịch vụ đó.<br />
    •	Gác máy điện thoại nếu có người gọi đến hướng dẫn quý vị trả lời các câu hỏi yêu cầu bởi Pay Way</div>
    </li>
</ul>
</div>
<div class="grid_3 sidebar omega">
<div class="widget"><img class="mbt" src="public/images/faq.jpg" alt="" /> 				<a href="ho-tro.html" class="tbutton medium"><span>Support Forums</span></a> 				<a href="lien-he.html" class="tbutton medium"><span>Contact Us</span></a></div>
<!-- widget list --></div>