body {

}
a {
  cursor: pointer;
}
a:active,
a:focus {
  outline: 0;
}

.control-text {
  padding-top: 7px;
}

.container {
  /* width: 970px; */
}

img#logo-img
{
  height: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.user-panel {
  margin: 10px 0;
  float: right;
}
.user-panel .panel-body {
  padding: 10px;
}
.user-panel .language .dropdown-menu {
  z-index: 1001;
}
.language a img.flag {
  margin-top: -2px;
  margin-right: -2px;
}


#menu {
  min-height: 40px;
  z-index: 99;
}
#menu .navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}
#menu .navbar-nav > li > a {
  padding: 10px;
}

ul.sitemap, ul.sitemap ul {
  padding-left: 20px;
}

.toolbar a{
  margin-bottom: 10px;
}

.utility .input-group{
  float: left;
  margin-bottom: 10px;
}
.utility .pull-left .input-group{
  margin-right: 5px;
}
.utility .pull-right .input-group{
  margin-left: 5px;
}
.utility .filter-tool{
  width: 200px;
}
.utility .search-tool{
  width: 200px;
}
.utility .entry-tool{
  width: 100px;
}
.utility .page-tool{
  width: 100px;
}

#manage-form {
  margin-bottom: 0;
}

.manage-table {
  margin-bottom: 10px;
}
.manage-table thead{
  background: #eee;
}
.manage-table tbody tr:hover {
  background-color: #f3f3f3;
}
.manage-table tbody tr.inactive {
  display: none;
}
.manage-table tbody tr.active {
  
}
.manage-table img.image {
  max-width: 200px;
  max-height: 100px;
}
.manage-table .input-text {
  width: 60px;
  display: inline;
}
.manage-table input {
  margin: 0;
}

.manage-table .text-center {
  text-align: center;
}
.manage-table .depth {
  margin-left: 50px;
}

.pagination {
  margin-top: 0;
  margin-bottom: 10px;
}
.pagination .current{
  color: #fff !important;
  background: #0088CC !important;
}

#update_form .nav.nav-pills {
  margin-top: 10px;
}
#update_form fieldset{
  margin-top: 10px;
}
#update_form label.error {
  display: inline-block;
  color: red;
  padding: 2px 0;
  margin-top: 3px;
}
#update_form label.valid {
  display: none;
}
#update_form .text-block {
  padding: 5px 0;
  font-weight: bold;
  float: left;
}
#update_form .old_image {
  width: 150px;
  margin: 0 10px 10px 0;
}

.input-mini {
  width: 140px;
}
.input-small {
  width: 200px;
}

footer hr {
  border-color: #ccc;
}
